body {
    width: 100%;
    height: 90%;
    font-family: "Times New Roman", serif;
}

h1 {
    font-size: 14px;
}

h2 {
    font-size: 12px;
}

p {
    color: blue;
}

h3 {
    font-size: 8px;
    line-height: 18px;
}
